{% extends "frontend.html" %}

{% block content %}

<script type="text/javascript">
	$(document).ready(function(){

		$(".hideteam").click(function(a){
			a.preventDefault();
			var id = $(this).attr("id");
			$("."+id).slideUp();
		});

		// checkbox:
		$("#checkboxes input").change(function(){
			var value = this.value;
			if(this.checked)
			{
				//alert(value)
				$(".team"+value).slideDown();
			}
			else
			{
				$(".team"+value).slideUp();
			}
		})

	}) // ready
</script>
<style type="text/css">
	#checkboxes input
	{
		display: inline !important;
	}
	#checkboxes label
	{
		display: inline;
	}
</style>

{% for team in db.session.query(Team) %}
<div id="checkboxes">
	<div><input type="checkbox" name="checkbox" value="{{ team.tid }}" checked="checked"> <label>{{ team.teamname }}</label></div>
</div>
{% endfor %}

{% endblock %}