{% extends "frontend.html" %}
{% block content %}

<script type="text/javascript">
	$(document).ready(function(){

		$(".hideteam").click(function(a){
			a.preventDefault();
			var id = $(this).attr("id");
			$("."+id).slideUp();
		})

	}) // ready
</script>

<a href="/allteams">Show All Teams.</a>

{% for team in db.session.query(Team) %}

<div class="team team{{ team.tid }}">

	{% for player in db.session.query(Players).filter_by(team=team.tid) %}

		<h1>{{ team.teamname }}</h1><a href="#" class="hideteam" id="team{{ team.tid }}">Hide this team</a><br>

		{{ player.name }}<br><img src="{{ player.picture }}">


	{% endfor %}
</div><!-- team -->

{% endfor %}
{% endblock %}