<!DOCTYPE html>
<html>
<head>
	{% block title %}
	{% endblock %}

	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">

	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,400italic|Montserrat' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">

	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="/static/js/main.min.js"></script>

</head>
<body>

<header class="masthead" role="banner"><div class="wrap">
	<div class="logo">
		<a href="/"><h1>Rostergram</h1></a>
  		<div class="subtitle">See your team through the players' camera
	</div></div><!-- /.logo -->
  
  	<div class="masthead__social">
      <a href="#"><i class="icon-facebook"></i></a>
      <a href="#"><i class="icon-twitter"></i></a>
  	</div>

  
  	<div class="sub-masthead">
      <nav class="menu" role="navigation">
          <ul>
            <li><span>ACC</span>
                <ul>
                  {% for team in db.session.query(Team).filter_by(cat="ACC") %}
                  <li><a href="/team/{{ team.tid }}">{{ team.teamname }}</a></li>
                  {% endfor %}
                </ul>

            </li><li><span>Big 12</span>
                <ul>
                  {% for team in db.session.query(Team).filter_by(cat="Big 12") %}
                  <li><a href="/team/{{ team.tid }}">{{ team.teamname }}</a></li>
                  {% endfor %}
                </ul>

            </li><li><span>Big Ten</span>
                <ul>
                  {% for team in db.session.query(Team).filter_by(cat="Big Ten") %}
                  <li><a href="/team/{{ team.tid }}">{{ team.teamname }}</a></li>
                  {% endfor %}
                </ul>

            </li><li><span>Pac-12</span>
                <ul>
                  {% for team in db.session.query(Team).filter_by(cat="Pac-12") %}
                  <li><a href="/team/{{ team.tid }}">{{ team.teamname }}</a></li>
                  {% endfor %}
                </ul>

            </li><li><span>SEC</span>
                <ul>
                  {% for team in db.session.query(Team).filter_by(cat="SEC") %}
                  <li><a href="/team/{{ team.tid }}">{{ team.teamname }}</a></li>
                  {% endfor %}
                </ul>

            </li><li><a href="#" class="js--show-about">About</a></li>
          </ul>
      </nav><!-- /nav.menu -->
  
      <div class="sub-masthead__title">
        NCAA Football
      </div>
  </div>
</div></header>


	<div class="wrap">
		<div class="content" role="main">
    <div class="about">
      <h1>Some Dummy Headline</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, harum veritatis placeat cupiditate labore debitis atque veniam voluptate quis perferendis eaque voluptatibus velit obcaecati incidunt accusamus fugit ad! Dolorem, molestiae!</p>
    </div>
  

		{% block content %}
		{% endblock %}
		</div>
	</div>

<footer class="colophon site-footer" role="contentinfo">
	<p>RosterGram &copy; 2013. Designed by <a href="http://namanyayg.com/">Namanyay Goel</a><br></p>
</footer><!-- FOOTER -->
</div>



</body>
</html>