{% extends "frontend.html" %}
<!--
	todo : include frontend..11
-->

{% block title %}
  <title>RosterGram</title>
{% endblock %}



{% block content %}
{# <!-- <div class="team-select-container">
  {% for team in db.session.query(Team) %}
  <div class="team-select">
  	<div>
      <label>
    		<input type="checkbox" name="checkbox" value="{{ team.tid }}" checked>
    		<span>{{ team.teamname }}</span>
      </label>
  	</div>
  </div>
  {% endfor %}

  <a href="#" class="show-all-teams js--all-teams">Show All Teams.</a>
</div> --> #}


<div class="stack stack-sympl home-card-container">
  {% for item in db.session.query(Players).order_by(Players.picturetime.desc()).limit(3) %}
  {% for team in db.session.query(Team).filter_by(tid=item.team) %}

  {# <!-- <div class="sympl full">
    <h1 class="player__name">{{ item.name }}</h1>
    <div class="player__social">
      <span class="player__instagram"><i class="icon-instagram"></i> <a href="http://instagram.com/{{ item.ig }}">{{ item.ig }}</a></span>
      {% if item.twitter %} 
        <span class="player__twitter"><i class="icon-twitter"></i> <a href="http://twitter.com/{{ item.twitter }}">{{ item.twitter }}</a></span>
      {% endif %}
    </div>
  </div> --> #}

    <div class="sympl onethird m-full">
      <section class="home-card">
        <a href="#" class="home-card__img">
          <img src="{{ item.picture }}">
        </a>
  
        <footer class="team-colors">
          <span style="background-color: {{ team.colorone }}"></span>
          <span style="background-color: {{ team.colortwo }}"></span>
        </footer>
  
        <div class="home-card__text">
          <h1 class="home-card__title">
            <a href="{{ item.pictureid }}">&lsquo;{{ item.picturecaption }}&rsquo;</a>
          </h1>
          <div class="home-card__by"> by <a href="http://instagram.com/{{ item.ig }}">{{ item.name }}</a>  of <a href="/team/{{ team.tid }}">{{ team.teamname }}</a></div>
        </div>
      </section>
    </div>

    {# <!-- <div class="sympl onethird m-full team team{{item.team}}">
      <section class="home-card">
        <a href="#" class="home-card__img">
          <img src="{{ item.picturetwo }}">
        </a>
  
        <footer class="team-colors">
          <span style="background-color: {{ team.colorone }}"></span>
          <span style="background-color: {{ team.colortwo }}"></span>
        </footer>
  
        <div class="home-card__text">
          <h1 class="home-card__title">
            <a href="{{ item.picturetwoid }}">&lsquo;{{ item.picturetwocaption }}&rsquo;</a>
          </h1>
          <div class="home-card__by"> by <a href="http://instagram.com/{{ item.ig }}">{{ item.name }}</a>  of <a href="/team/{{ team.tid }}">{{ team.teamname }}</a></div>
          <footer class="home-card__meta">
            <a target="_blank" href="http://instagram/{{ item.ig }}"><i class="icon-chat"></i></a>
          </footer>
        </div>
      </section>
    </div>

    <div class="sympl onethird m-full team team{{item.team}}">
      <section class="home-card">
        <a href="#" class="home-card__img">
          <img src="{{ item.picturethree }}">
        </a>
  
        <footer class="team-colors">
          <span style="background-color: {{ team.colorone }}"></span>
          <span style="background-color: {{ team.colortwo }}"></span>
        </footer>
  
        <div class="home-card__text">
          <h1 class="home-card__title">
            <a href="{{ item.picturethreeid }}">&lsquo;{{ item.picturethreecaption }}&rsquo;</a>
          </h1>
          <div class="home-card__by"> by <a href="http://instagram.com/{{ item.ig }}">{{ item.name }}</a>  of <a href="/team/{{ team.tid }}">{{ team.teamname }}</a></div>
          <footer class="home-card__meta">
            <a target="_blank" href="http://instagram/{{ item.ig }}"><i class="icon-chat"></i></a>
          </footer>
        </div>
      </section>
    </div> --> #}

  {% endfor %}
  {% endfor %}
</div>

<!-- <a href="/?page={{ page }}">Next Page</a> -->
{% endblock %}