{% extends "frontend.html" %}
<!--
	todo : include frontend..11
-->
{% block content %}

<script type="text/javascript">
	$(document).ready(function(){

		$(".hideteam").click(function(a){
			a.preventDefault();
			var id = $(this).attr("id");
			$("."+id).slideUp();
		});

		// checkbox:
		$("#checkboxes input").change(function(){
			var value = this.value;
			if(this.checked)
			{
				//alert(value)
				$(".team"+value).slideDown();
			}
			else
			{
				$(".team"+value).slideUp();
			}
		})

	}) // ready
</script>
<style type="text/css">
	#checkboxes input
	{
		display: inline !important;
	}
	#checkboxes label
	{
		display: inline;
	}
</style>

{% for team in query %}
<div id="checkboxes">
	<div><input type="checkbox" name="checkbox" value="{{ team.tid }}" checked="checked"> <label>{{ team.teamname }}</label></div>
</div>
{% endfor %}

<a href="/allteams">Show All Teams.</a>

{% for team in query %}

<div class="team team{{ team.tid }}">

	{% for player in db.session.query(Players).filter_by(team=team.tid) %}

		<h1>{{ team.teamname }}</h1><a href="#" class="hideteam" id="team{{ team.tid }}">Hide this team</a><br>

		{{ player.name }}<br><img src="{{ player.picture }}">


	{% endfor %}
</div><!-- team -->

<a href="/?page={{ page+1 }}">Next Page</a>

{% endfor %}
{% endblock %}