<!DOCTYPE html>
<html>
<head>
	<title>{{ pageTitle }}</title><meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width">

	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,400italic|Montserrat' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/css/admin.css">
</head>
<body>

<a class="btn btn-secondary admin-button" href="/dash">Admin Home</a>

{% block content %}
{% endblock %}

</body>
</html>