{% extends "layout.html" %}
{% block content %}

<a class="btn admin-button btn-primary" href="/dash/add-player?team={{ teamID }}">Add Player to this team</a>

<h1>Players of Team #{{ teamID }}:</h1>
{% for item in db.session.query(Players).filter_by(team=teamID) %}
    <section class="team-block admin-card">
		<h1><a href="http://instagram.com/{{ item.ig }}">{{ item.name }}</a></h1>
		<footer class="admin-card__meta">
			<div class="admin-card__meta__editlink">
				<a href="/admin/edit-player?pid={{ item.twitter }}">Edit Instagram ID / Twitter</a>
			</div>
			<div class="admin-card__meta__delete">
				<a href="/dash/delplayer/{{ item.pid }}?next={{ item.team }}">Delete Player?</a>
			</div>
		</footer>
  </section>
{% endfor %}


{% endblock %}